@font-face {
	font-family: 'OpenSans-Bold';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Bold.woff') format('woff'), url('fonts/OpenSans-Bold.ttf') format('truetype'), url('fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
}

body {
	background-color: white;
	color: black;
}

.thumbnail {
	background-color: transparent;
	border-bottom-style: solid;
	border-color: black;
	border-radius: 5px;
	border: 0px solid black;
	display: block;
	height: 120px;
	position: relative;
	transition: border 0.2s ease-in-out 0s;
	margin-top: 10px;
}


.hovereffect {
	background: white;
	/*border: 0.5px ridge black;*/
	border-radius: 5px;
	cursor: pointer;
	width: 300px;
	height: 120px;
	overflow: hidden;
	box-shadow: 0 7px 9px rgba(201, 201, 201, 1), 0 5px 5px rgba(201, 201, 201, 1);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.hovereffect:hover {
	box-shadow: 0 14px 18px rgba(201, 201, 201, 1), 0 10px 10px rgba(201, 201, 201, 1);
	/*background: #b2b2b2;*/
}

.logo {
	background-size: cover;
	width: 300px;
	height: 120px;
	border: 0px solid black;
	border-radius: 5px;
	margin: 0 0;
}

img {
	display: block;
	margin: 0 auto;
}

.nav-pills {
	margin: 15px 10px 20px -15px;
	max-width: 700px;
}

.initialized-logo-200-header {
	background-repeat: no-repeat;
	background-size: 200px 36px;
	display: block;
	height: 36px;
	width: 200px;
	margin-top: 60px;
}

.initialized-logo-200-footer {
	background-repeat: no-repeat;
	background-size: 200px 36px;
	display: block;
	height: 36px;
	width: 200px;
	margin-top: 20px;
}

.navbar {
	background-color: white;
}

li a {
	font-weight: bolder;
	text-transform: uppercase;
}

.navbar-default,
footer {
	border: 0px;
	border-left: 0px;
	margin-left: 20px;
}

.nav-pills li a {
	color: black;
}

.nav > li > a:hover,
.nav > li > a:focus {
	background-color: white;
	color: #b2b2b2;
	text-decoration: none;
}

.lead {
	font-size: 16px;
}


h1 {
	margin-top: 10px;
}

.shoptiques {
	margin-top: 45px;
}

.theorem,
.airware,
.roman,
.genius {
	margin-top: 40px;
}

.triplebyte,
.clipboardhealth {
	margin-top: 35px;
}

.codecademy,
.vicarious,
.esper,
.instacart,
.front,
.cruise,
.workramp,
.campaign,
.doublerobotics,
.algolia,
.bannerman,
.comprehend,
.opendoor,
.vetcove,
.guilded,
.openlistings {
	margin-top: 30px;
}

.teespring {
	margin-top: 25px;
}

.hullabalu,
.cleanly,
.logdna,
.zenefits,
.voyage,
.emissary,
.fortytwofloors,
.rainforest,
.terravion,
.ridecell,
.heap,
.bloomthat,
.clever,
.lever,
.eero,
.plangrid,
.flexport,
.iunu,
.mentat {
	margin-top: 20px;
}

.coinbase,
.trustedinsight,
.seneca,
.hellooffice,
.parsable,
.shelfengine,
.classicspecs,
.zentail,
.truelink,
.swiftype,
.svtble,
.priime,
.producthunt,
.easypost,
.weave,
.bellhops,
.meteor,
.digit,
.leadgenius,
.siftscience,
.returnbase,
.reddit,
.behance {
	margin-top: 10px;
}

.athelas {
	margin-top: 2px;
}


.her,
.mino,
.survata,
.taplytics,
.realcrowd,
.streak,
.makeschool,
.thalmic,
.hellosign,
.lob,
.drip,
.terminalfortynine,
.rippling {
	margin-top: -10px;
}

.sendwithus,
.blend,
.upcall {
	margin-top: -20px;
}

.zeus,
.drip,
.sc {
	margin-top: -15px;
}

.sevencups {
	margin-top: -40px;
}

.adquick {
	margin-top: -70px;
}

.gobble {
	margin-top: -8px;
}

.openlistings {
	margin-left: 30px;
}

.container {
	margin-right: auto;
	margin-left: auto;
}
